body
{
    background-color: black;
}

#Intro
{
    text-align: center;
    color: white;
    font-size: larger;
}

#Projects
{
    position: absolute;
    text-align: center;
    color: white;
    font-size: large;
    top: 20%;
}


#LeftButton
{
    position: absolute;
    height: auto;
    width: 5%;
    font-size: large;
    top: 80%;
    right: 90%;
}

#RightButton
{
    position: absolute;
    height: auto;
    width: 5%;
    font-size: large;
    top: 80%;
    left: 90%;
}

#GameVideo
{
    width: 50%;
    height: auto;
    z-index: 1;
    
    /*padding-left: 3%;*/

}

#LeftImg
{
    top: 150px;
    right: 80%;
    width: 35%;
    height: auto;
    position: absolute;
    opacity: 50%;
    z-index: -1;
}

#RightImg
{
    top: 150px;
    left: 80%;
    width: 35%;
    height: auto;
    position: absolute;
    opacity: 50%;
    z-index: -1;
}

#Description
{
    left: 10%;
    width: 80%;
    height: auto;
    position: absolute;
    opacity: 50%;
    font-size: x-large;
}

#GameDescription
{
    margin-top: 5%;
}