#Intro
{
    position: relative;
    text-align: center;
    color: black;
    font-size: 30px;
}

#Projects
{
    position: relative;
    text-align: center;
    color: black;
    font-size: 30px;
}

#LeftButton
{
    margin-right: 80%;
}

#RightButton
{
    
}

#spacer
{
    
}